.App {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

button{
  border: none;
  margin: 4px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
}
